# Insurance Severity Dataset
## Exploratory Data Analysis

<img src="fig/insurance.jpg"
    style="width:400px; float: left; margin: 0 40px 40px 40px;"></img>

![divider](divider.png)
## Import the libraries

In [20]:
!pip install -r pip_packages.txt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Requirement already satisfied: numpy in /home/emre/anaconda3/lib/python3.8/site-packages (from -r pip_packages.txt (line 1)) (1.19.1)
Requirement already satisfied: pandas in /home/emre/anaconda3/lib/python3.8/site-packages (from -r pip_packages.txt (line 2)) (1.1.0)
Requirement already satisfied: matplotlib in /home/emre/anaconda3/lib/python3.8/site-packages (from -r pip_packages.txt (line 3)) (3.2.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/emre/anaconda3/lib/python3.8/site-packages (from pandas->-r pip_packages.txt (line 2)) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /home/emre/anaconda3/lib/python3.8/site-packages (from pandas->-r pip_packages.txt (line 2)) (2020.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/emre/anaconda3/lib/python3.8/site-packages (from matplotlib->-r pip_packages.txt (line 3)) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /home/emre/anaconda3/lib/python3.8/site-packages (from matplotlib->-r pip_packages.txt (line 3)) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/emre/anaconda3/lib/python3.8/site-packages (from matplotlib->-r pip_packages.txt (line 3)) (2.4.7)
Requirement already satisfied: six>=1.5 in /home/emre/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->-r pip_packages.txt (line 2)) (1.15.0)

![divider](fig/divider.png)

## Load the data:

In [21]:
!head motor_sample_sev.csv

In [22]:
data = pd.read_csv('motor_sample_sev.csv')

![divider](fig/divider.png)
## Data at  a glance

In [23]:
data.head(3)

,Unnamed: 0,policy.id,tenure,cover.start.date,cover.end.date,period,driver.city,same.city.licenceplate.customer,newbusiness.renewal,driver.age,...,vehicle.weight,vehicle.hp.per.weight,vehicle.fuel.type,past.fault.claim.count,past.claimt.count,claim.amount,claim.count,exposure,frequency,severity
0,1,100001,18,2014-02-14,2014-06-30,2014H1,driver.city.id.875,Yes,renewal,64,...,1150,0.089565,NaN,0,0,0.0,0,0.99998,0.0,0.0
1,2,100004,18,2014-04-29,2014-06-30,2014H1,driver.city.id.386,Yes,renewal,48,...,1286,0.124417,NaN,0,0,0.0,0,0.99998,0.0,0.0
2,3,100006,18,2014-06-08,2014-06-30,2014H1,driver.city.id.871,Yes,renewal,67,...,941,0.102019,petrol,0,0,0.0,0,0.99998,0.0,0.0

We drop the 'useless' columns. A column consisting of all unique values is a _useless column_.

In [24]:
for c in data.columns:
    if len(data[c]) == len(data[c].unique()):
        data.drop([c], axis=1, inplace=True)

In [25]:
data.shape

(21260, 37)

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21260 entries, 0 to 21259
Data columns (total 37 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   tenure                           21260 non-null  int64
 1   cover.start.date                 21260 non-null  object
 2   cover.end.date                   21260 non-null  object
 3   period                           21260 non-null  object
 4   driver.city                      21260 non-null  object
 5   same.city.licenceplate.customer  21260 non-null  object
 6   newbusiness.renewal              21260 non-null  object
 7   driver.age                       21260 non-null  int64
 8   gender                           21260 non-null  object
 9   marital.status                   21260 non-null  object
 10  no.claim.level                   21260 non-null  int64
 11  vehicle.make                     21260 non-null  object
 12  vehicle.age                      21260 non-null  int64
 13  coverage.limit                   21260 non-null  float64
 14  vehicle.body.type                21260 non-null  object
 15  vehicle.number.of.doors          21260 non-null  int64
 16  vehicle.top.speed                21260 non-null  int64
 17  vehicle.acceleration             21260 non-null  float64
 18  vehicle.transmission             21260 non-null  object
 19  vehicle.cylinders                21260 non-null  int64
 20  vehicle.length                   21260 non-null  int64
 21  vehicle.width                    21260 non-null  int64
 22  vehicle.height                   21260 non-null  int64
 23  vehicle.class                    21260 non-null  object
 24  vehicle.hp                       21260 non-null  int64
 25  vehicle.ccm                      21260 non-null  int64
 26  vehicle.torque                   21260 non-null  int64
 27  vehicle.weight                   21260 non-null  int64
 28  vehicle.hp.per.weight            21260 non-null  float64
 29  vehicle.fuel.type                11979 non-null  object
 30  past.fault.claim.count           21260 non-null  int64
 31  past.claimt.count                21260 non-null  int64
 32  claim.amount                     21260 non-null  float64
 33  claim.count                      21260 non-null  int64
 34  exposure                         21260 non-null  float64
 35  frequency                        21260 non-null  float64
 36  severity                         21260 non-null  float64
dtypes: float64(7), int64(17), object(13)
memory usage: 6.0+ MB

In [27]:
data.describe()

,tenure,driver.age,no.claim.level,vehicle.age,coverage.limit,vehicle.number.of.doors,vehicle.top.speed,vehicle.acceleration,vehicle.cylinders,vehicle.length,...,vehicle.torque,vehicle.weight,vehicle.hp.per.weight,past.fault.claim.count,past.claimt.count,claim.amount,claim.count,exposure,frequency,severity
count,21260.000000,21260.000000,21260.000000,21260.000000,21260.000000,21260.000000,21260.000000,21260.000000,21260.000000,21260.000000,...,21260.000000,21260.000000,21260.000000,21260.000000,21260.000000,21260.000000,21260.000000,21260.000000,21260.000000,21260.000000
mean,4.303057,233.464205,3.333302,6.110913,50544.293138,4.496472,185.817498,11.662446,4.018109,4360.620320,...,202.644591,1297.411994,0.086853,1.133490,1.328739,1254.979035,0.225729,0.977878,0.231164,1028.381793
std,5.725877,374.352754,1.994916,4.479075,38752.106747,0.574508,20.890498,2.407655,0.290983,301.648921,...,74.656790,223.558716,0.016542,1.949057,1.949663,5337.114610,0.531598,0.050102,0.545036,4406.943974
min,0.000000,18.000000,0.000000,0.000000,4500.000000,2.000000,0.000000,0.000000,2.000000,2695.000000,...,72.000000,750.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.701350,0.000000,0.000000
25%,0.000000,42.000000,1.000000,3.000000,24700.000000,4.000000,172.000000,10.500000,4.000000,4171.000000,...,150.000000,1140.000000,0.075338,0.000000,0.000000,0.000000,0.000000,0.976700,0.000000,0.000000
50%,1.000000,55.000000,5.000000,5.000000,39848.000000,5.000000,184.000000,11.800000,4.000000,4370.000000,...,190.000000,1280.000000,0.084337,0.000000,0.000000,0.000000,0.000000,0.999980,0.000000,0.000000
75%,7.000000,71.000000,5.000000,9.000000,61455.000000,5.000000,195.000000,13.000000,4.000000,4569.000000,...,240.000000,1425.000000,0.097025,1.000000,2.000000,0.000000,0.000000,0.999980,0.000000,0.000000
max,20.000000,999.000000,5.000000,22.000000,372528.000000,5.000000,270.000000,20.900000,8.000000,5471.000000,...,630.000000,4400.000000,0.268156,5.000000,5.000000,136029.667500,7.000000,1.002730,7.352632,90247.500000

![divider](fig/divider.png)

## Numerical analysis and visualization

We'll analyze the `Unit_Cost` column: